@model ProductAddViewModel

<style>
    .select1 {
        padding-bottom: 10px;
        font-weight: 600;
    }
</style>
<form asp-action="Add" method="post" asp-controller="Product" enctype="multipart/form-data"> @*html corerct img update*@
    <section class="container border border-primary rounded p-4 text-center w-75">
        <section class="select1">
            <label asp-for="Product.Name"></label>
            <input asp-for="Product.Name" />
            <span class="alert-danger" asp-validation-for="Product.Name"></span>
        </section>

        <section class="select1">
            <label asp-for="Product.Description"></label>
            <input asp-for="Product.Description" />
            <span class="alert-danger" asp-validation-for="Product.Description"></span>
        </section>

        <section class="select1">
            <label asp-for="Product.Discount"></label>
            <input asp-for="Product.Discount" />
            <span class="alert-danger" asp-validation-for="Product.Discount"></span>
        </section>

        <section class="select1">
            <label asp-for="Product.Price"></label>
            <input asp-for="Product.Price" />
            <span class="alert-danger" asp-validation-for="Product.Price"></span>
        </section>

        <section class="select1">
            <label asp-for="Product.ImgLink">Product Image</label>
            <input type="file" name="imgFile" accept="image/*" />
        </section>

        <section>
            <button class="btn d-block btn-dark w-100" type="submit">Add</button>
        </section>
    </section>

</form>